* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 88px auto 0 auto;
  max-width: 1120px;
  width: 100%;
}

h4 {
  color: #e1624f;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  max-width: 1120px;
  text-align: left;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  margin-top: 8px;
  margin-bottom: 40px;
}

#descriptionimage {
  border-radius: 28px;
  margin-bottom: 24px;
  text-align: center;
}

img {
  border-radius: 28px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 24px;
}

h2 {
  margin: 2px 0 8px;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}

.img-haedong {
  margin-top: 64px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
}

.primary-paragraph {
  font-size: 16px;
  margin-top: 4px;
  text-align: center;
}

div {
  width: 100%;
  max-width: 1120px;
  height: 1px;
  background-color: #d9d9d9;
  margin-top: 40px;
  margin-bottom: 64px;
}

p {
  font-size: 16px;
  margin-top: 4px;
  text-align: left;
}

span {
  font-size: 18px;
  text-align: left;
  display: block;
}

.custom-li {
  margin-bottom: 48px;
  text-align: left;
  list-style-position: inside;
  color: #0c51a7;
}

.custom-li::marker {
  color: black;
}

.custom-casais {
  text-align: left;
  list-style-position: inside;
  color: #591b98;
  margin-left: 3px;
}

.custom-casais::marker {
  color: black;
}

.custom-familias {
  text-align: left;
  list-style-position: inside;
  color: #e5245e;
  margin-left: 3px;
}

.custom-familias::marker {
  color: black;
}

.custom-orcamento {
  text-align: left;
  list-style-position: inside;
  margin-bottom: 40px;
  color: #e95e10;
  margin-left: 3px;
}

.custom-orcamento::marker {
  color: black;
}

.line {
  width: 100%;
  max-width: 1120px;
  height: 1px;
  background-color: #d9d9d9;
  margin: 40px auto;
}

.secondary-paragraph {
  text-align: center;
  margin-bottom: 65px;
}

footer {
  font-family: "Alice", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  margin-bottom: 48px;
}

footer img {
  margin: 0;
  padding: 0;
}
